/*global vars and whatever stuff or wait… no! Simply vars and stuff only */


$white: #fff;
$black: #000;
$link-color: #f95e00;
$main-color: #2b1f1a;
$contrasting-color: #fff;

$header-font: Patua One, serif;
$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$break-mini: 320px;
$break-small: 550px;
$break-medium: 600px;
