---
layout: start
title: Startsida för t12t
---
<div class="package introduction-package">
	<div class="introduction">
		<h2>Hej webb&shy;tillgänglighet!</h2>
		<p>
			t12t, står för tillgänglighet och är den svenska motsvarigheten till a11y, accessibility. Här sysslar vi med tillgängligheten på webben. Vi har meetups och vi försöker i allmänhet och på denna sajten i synnerhet att sprida kunskap och tips.
		</p>
	</div>
 {% include mole.html %}
</div>
<div class="package">
	<ul>{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
			<time>{{ post.date | date: "%B %e, %Y" }} </time>
			{% if post.description %}<p>{{ post.description != null }}</p>{% endif %}
		</li>{% endfor %}
	</ul>
</div>