<header>
{% if page.url == '/index.html' %}
  <h1 class="our-wellknown-logo">
    <a href="/">
      <picture>
      <source type="image/svg+xml" srcset="/niceness/t12t-logo.svg" alt="t12t">
      <img src="/niceness/t12t-logo.png" alt="t12t">
      </picture>
    </a>
  </h1>
{% else %}
  <a href="/" class="our-wellknown-logo">
      <picture>
        <source type="image/svg+xml" srcset="/niceness/t12t-logo.svg" alt="t12t">
        <img src="/niceness/t12t-logo.png" alt="t12t">
      </picture>
  </a>
{% endif %}
</header>