
/*@group Header*/
header{
	color:$contrasting-color;	
	
	a{
		color:$contrasting-color;
	}
}
.our-wellknown-logo{
	font-size:3.25em;
	font-family: $header-font;
	padding: 2.777777778%;
	margin:0;
	display:block;

	a{
		display:block;
	}
}
/*@group Navz*/
nav{
	position:absolute;
	top:5%;
	right:10%;

	ul{
		list-style:none;
		overflow:hidden;

		li{
			float:left;

			a{
				display:block;
				padding:10px 20px;
				white-space:nowrap;
			}

			.current{
				background:$link-color;
				border-radius:5px;
			}
		}
	}
}
/*@end Navz */
/*@end Header*/

/*@group Main Package*/
.main-package{
	background:#fff;
	padding:0 7.87037037%;
}
.package{
	background:#fff;
	padding:0 7.87037037%;
}
/*@end Main Package*/

/*@group Feet*/
.underground{
	padding:2.777777778% 7.87037037%;
}
.related-feet{
	
	h2{
		color:$contrasting-color;
	}
}
/*@end Feet*/