/*@group Global styles*/
article, aside, figure, footer, header, hgroup,
menu, nav, section { 
	display: block; 
}
html{
	margin:0;
	padding:0;
}
body {
	color: $main-color; 
	font-weight: normal;
	font-size: 100%;
	font-family: $body-font;
	word-wrap: break-word;
	padding:40px 0;
}
main{
	padding:2.777777778% 7.87037037%;
}
h1, h2, h3, h4, h5, h6{
	font-family: $header-font;
    font-weight: normal;
}
h1{
	font-size: 2.5em;
	margin:1em 0;
}
h2{
	font-size: 1.875em;
	margin:0.4em 0;
}
h3{
	font-size: 1.5em;
}
h4, h5, h6{
	font-size: 1.25em;
}
p{
	color:#555;
	margin: 0 0 20px 0;
}
a{
	color: $link-color;
	text-decoration:none;
}
a:hover,
a:focus{
	text-decoration: underline;
}
/*@end Global styles*/
