<!DOCTYPE HTML>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} t12t</title>
    <link rel="stylesheet" href="/niceness/css/t12t-style.css">
  </head>
  <body>
    <main role="main">
      {% if page.url == '/index.html' %}
        <h1><a href="/">#t12t</a></h1>
      {% else %}
        <a href="/">#t12t</a>
      {% endif %}
        <nav>
          <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/om-t12t/">Om t12t</a></li>
            <li><a href="/meetups/">Meetups</a></li>
            <li><a href="/n00b-tips/">N00b-tips</a></li>
          </ul>
        </nav>
        {{ content }}
    </main>
    {% include feet.html %}
  </body>
</html>