<!DOCTYPE HTML>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <!-- Använd inte maximum-scale=1.0 eller user-scalable=0. Låt folk zooma. Alla har inte lika perfekta ögon som du. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} t12t</title>
    <link rel="stylesheet" href="/niceness/css/t12t-style.css">
  </head>
  <body>
    <header>
    {% if page.url == '/index.html' %}
      <h1 class="our-wellknown-logo"><a href="/">#t12t</a></h1>
    {% else %}
      <a href="/" class="our-wellknown-logo">#t12t</a>
    {% endif %}
      <nav>
        <ul>
          <li><a href="/">Start</a></li>
          <li><a href="/om-t12t/">Om t12t</a></li>
          <li><a href="/meetups/">Meetups</a></li>
          <li><a href="/n00b-tips/">N00b-tips</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
        {{ content }}
    </main>
    {% include feet.html %}
  </body>
</html>